name: Release

on:
  pull_request:
    branches:
      - "master"
      - "ci"
      - "[0-9]+.[0-9x]+*"
    paths:
      - "uvloop/_version.py"

jobs:
  validate-release-request:
    runs-on: ubuntu-latest
    steps:
    - name: Validate release PR
      uses: edgedb/action-release/validate-pr@bae6b9134e872166b43d218dd79397c851c41c9a
      id: checkver
      with:
        require_team: Release Managers
        require_approval: no
        github_token: ${{ secrets.RELEASE_BOT_GITHUB_TOKEN }}
        version_file: uvloop/_version.py
        version_line_pattern: |
          __version__\s*=\s*(?:['"])([[:PEP440:]])(?:['"])

    - name: Stop if not approved
      if: steps.checkver.outputs.approved != 'true'
      run: |
        echo ::error::PR is not approved yet.
        exit 1

    - name: Store release version for later use
      env:
        VERSION: ${{ steps.checkver.outputs.version }}
      run: |
        mkdir -p dist/
        echo "${VERSION}" > dist/VERSION

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
      with:
        name: dist-version
        path: dist/

  build-sdist:
    needs: validate-release-request
    runs-on: ubuntu-22.04

    env:
      PIP_DISABLE_PIP_VERSION_CHECK: 1

    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608  # v4.1.0
      with:
        fetch-depth: 50
        submodules: true

    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: 3.x

    - name: Build source distribution
      run: |
        python -m pip install --upgrade setuptools wheel pip
        python setup.py sdist

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
      with:
        name: dist-sdist
        path: dist/*.tar.*

  build-wheels:
    needs: validate-release-request
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, ubuntu-22.04-arm]
        python:
        - "cp38"
        - "cp39"
        - "cp310"
        - "cp311"
        - "cp312"
        - "cp313"
        - "cp314"
        - "cp314t"
        cibw_arch: ["x86_64", "aarch64", "universal2"]
        exclude:
          - os: ubuntu-latest
            cibw_arch: universal2
          - os: ubuntu-latest
            cibw_arch: aarch64
          - os: macos-latest
            cibw_arch: aarch64
          - os: ubuntu-22.04-arm
            cibw_arch: x86_64
          - os: ubuntu-22.04-arm
            cibw_arch: universal2

    defaults:
      run:
        shell: bash

    env:
      PIP_DISABLE_PIP_VERSION_CHECK: 1

    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608  # v4.1.0
      with:
        fetch-depth: 50
        submodules: true

    - name: Install macOS deps
      if: startsWith(matrix.os, 'macos')
      run: |
        brew install gnu-sed libtool autoconf automake

    - uses: pypa/cibuildwheel@7c619efba910c04005a835b110b057fc28fd6e93  # v3.2.0
      env:
        CIBW_BUILD_VERBOSITY: 1
        CIBW_BUILD: ${{ matrix.python }}-*
        CIBW_ARCHS: ${{ matrix.cibw_arch }}
        CIBW_TEST_SKIP: "*universal2:arm64"

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
      with:
        name: dist-wheels-${{ matrix.os }}-${{ matrix.python }}-${{ matrix.cibw_arch }}
        path: wheelhouse/*.whl

  publish:
    needs: [build-sdist, build-wheels]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608  # v4.1.0
      with:
        fetch-depth: 5
        submodules: false

    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0  # v5.0.0
      with:
        pattern: dist-*
        merge-multiple: true
        path: dist/

    - name: Extract Release Version
      id: relver
      run: |
        set -e
        echo version=$(cat dist/VERSION) >> $GITHUB_OUTPUT
        rm dist/VERSION

    - name: Merge and tag the PR
      uses: edgedb/action-release/merge@bae6b9134e872166b43d218dd79397c851c41c9a
      with:
        github_token: ${{ secrets.RELEASE_BOT_GITHUB_TOKEN }}
        ssh_key: ${{ secrets.RELEASE_BOT_SSH_KEY }}
        gpg_key: ${{ secrets.RELEASE_BOT_GPG_KEY }}
        gpg_key_id: "5C468778062D87BF!"
        tag_name: v${{ steps.relver.outputs.version }}

    - name: Publish Github Release
      uses: elprans/gh-action-create-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.relver.outputs.version }}
        release_name: v${{ steps.relver.outputs.version }}
        target: ${{ github.event.pull_request.base.ref }}
        body: ${{ github.event.pull_request.body }}
        draft: false

    - run: |
        ls -al dist/

    - name: Upload to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        # password: ${{ secrets.TEST_PYPI_TOKEN }}
        # repository_url: https://test.pypi.org/legacy/
